<article>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <h3 class="title is-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <h5 class="subtitle is-5">{{ .Params.account }}</h5>
      <p class="content">{{ .Description | markdownify }}</p>
      {{ with .Params.topics }}
      <div class="field is-grouped is-grouped-multiline">
        {{ range . }}
        <div class="control">
          <div class="tags has-addons">
            <a class="tag is-link is-medium" href="/topics/{{ . }}">{{ . }}</a>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="column is-two-fifths">
      <figure class="thumbnail">
        <p class="image">
          <img src="{{ .RelPermalink }}thumbnail.png"
               alt="Thumbnail preview of website for workflowr project {{ .Title }}.">
        </p>
      </figure>
    </div>
  </div>
</article>
<hr/>
