// https://bulma.io/documentation/customize/with-node-sass/
@charset "utf-8";

// Import a Google Font
// Source Sans Pro
// 400 Regular => Normal text
// 400 Regular Italic => In case there is italicized text in any of the normal text
// 600 Semi-Bold => H1 headers have font-weight of 600
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

// Set your brand colors
$purple: rgb(110, 46, 158);
$grey-darker: hsl(0, 0%, 21%); // built-in https://bulma.io/documentation/overview/colors/

// Update Bulma's global variables
$family-sans-serif: "Source Sans Pro", "Arial", sans-serif;
$primary: $purple;
$link: $purple;
$info: $grey-darker;

// Update some of Bulma's component variables
$footer-background-color: $grey-darker;
$footer-color: #fff; // white

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass"; // has to be first
// Wait to collapse the navbar until it reaches tablet size
$navbar-breakpoint: $tablet;
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/breadcrumb.sass";
@import "bulma/sass/components/media.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/pagination.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/shared.sass"; // has to be first "form" import
@import "bulma/sass/form/input-textarea.sass";
@import "bulma/sass/form/tools.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/helpers/color.sass";
@import "bulma/sass/helpers/spacing.sass";
@import "bulma/sass/helpers/typography.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";

// Keep the navbar background purple and text white even when collapsed on
// smaller width screens.
@media screen and (max-width: $tablet) {
  .navbar-menu {
    background-color: rgb(110, 46, 158);
  }
  a.navbar-item {
    color: white;
  }
}

// Style the thumbnail previews
.thumbnail {
  border: solid 1px black;
}
