{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "hero" }}
  {{- partial "hero.html" . -}}
  {{ end }}

{{ define "main" }}
  <div class="columns content">
    <div class="column is-narrow">
      <p>
        <strong>Author:</strong>
        <a href="{{ .Params.authorLink }}">{{ .Params.author }}</a>
      </p>
      <p>
        <strong>Date:</strong>
        {{ .Date.Format "2006-01-02" }}
      </p>
      {{ with .Params.toc }}
        <h4 class="title is-4">Table of contents</h4>
        {{ .TableOfContents }}
      {{ end }}
    </div>
    <div class="column is-half">
      {{ .Content }}
    </div>
  </div>
{{ end }}
