{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p>Project created: {{ .Date }}</p>
  <p>Last updated: {{.Lastmod }}</p>
  <p><a href="{{ .Params.website }}" target="_blank">Website</a></p>
  {{ with .Params.topics }}
    <ul>
      {{ range . }}
        <li><a href="/topics/{{ . }}">{{ . }}</a></li>
      {{ end }}
  </ul>
  {{ end }}
  {{ .Content }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
