
{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumb.html" . }}
  <h1 class="title is-1">{{ .Title }}</h1>
  <p>Project created: {{ .Date }}</p>
  <p>Last updated: {{.Lastmod }}</p>
  <p><a href="{{ .Params.website }}" target="_blank">Website</a></p>
  {{ with .Params.topics }}
    <div class="field is-grouped is-grouped-multiline">
      {{ range . }}
      <div class="control">
        <div class="tags has-addons">
          <a class="tag is-link is-medium" href="/topics/{{ . }}">{{ . }}</a>
        </div>
      </div>
      {{ end }}
    </div>
  {{ end }}
  {{ .Content }}
  {{ partial "related.html" . }}
{{ end }}
