
{{ define "hero" }}
  {{- partial "hero.html" . -}}
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumb.html" . }}
  <div class="field is-grouped is-grouped-multiline">
  {{ range .Pages }}
    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link is-large" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <!-- For when I can figure out how to include the count of projects with a given topic -->
        <!-- <a class="tag">5</a> -->
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
