
<nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://jdblischak.github.io/workflowr/">
        <img alt="workflowr logo" src="/img/workflowr-navbar-brand-tiny.png">
      </a>
    </div>

    <div class="navbar-menu is-active">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a class="navbar-item" href="/projects/">
          Projects
        </a>

        <a class="navbar-item" href="/topics/">
          Topics
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="Search for projects">
            </div>
            <div class="control">
              <a class="button is-info">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
