{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<nav class="pagination is-centered m-6" role="navigation" aria-label="pagination">
  <a class="pagination-previous" aria-label="Previous" {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }}  {{ if not $pag.HasPrev }}title="This is the first page" disabled{{ end }}>Previous</a>
  <a class="pagination-next" aria-label="Next" {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} {{ if not $pag.HasNext }} title="This is the last page" disabled{{ end }}>Next page</a>
  <ul class="pagination-list">
    {{- $ellipsed := false -}}
    {{- $shouldEllipse := false -}}
    {{- range $pag.Pagers -}}
    {{- $right := sub .TotalPages .PageNumber -}}
    {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
    {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
    {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
    {{- if $showNumber -}}
      {{- $ellipsed = false -}}
      {{- $shouldEllipse = false -}}
    {{- else -}}
      {{- $shouldEllipse = not $ellipsed -}}
      {{- $ellipsed = true -}}
    {{- end -}}
    {{- if $showNumber }}
    <li>
      {{ if eq . $pag }}
      <a class="pagination-link is-current" aria-label="Page {{ .PageNumber }}" aria-current="page" href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ else }}
      <a class="pagination-link" aria-label="Goto page {{ .PageNumber }}" href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ end }}
    </li>
    {{- else if $shouldEllipse }}
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {{- end -}}
    {{- end }}
  </ul>
</nav>
{{ end }}
