
<footer class="footer">
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <h4 class="title is-4 has-text-white ">workflowr.io</h4>
      <ul>
        <li>
          <a href="/docs/#about-this-site">
            About
          </a>
        </li>
        <li>
          <a href="/docs/#privacy">
            Privacy
          </a>
        </li>
        <li>
          <a href="https://github.com/workflowr/workflowr.io/">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            Source code
          </a>
        </li>
      </ul>
    </div>

    <div class="column is-one-quarter">
      <h4 class="title is-4 has-text-white">workflowr</h4>
        <ul>
          <li>
            <a href="https://workflowr.github.io/workflowr/articles/wflow-01-getting-started.html">
            Getting started
            </a>
          </li>
          <li>
            <a href="https://doi.org/10.12688/f1000research.20843.1">
              Manuscript
            </a>
          </li>
          <li>
            <a href="https://github.com/workflowr/workflowr/blob/main/CODE_OF_CONDUCT.md">
              Code of conduct
            </a>
          </li>
          <li>
            <a href="https://github.com/workflowr/workflowr/">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              Source code
            </a>
          </li>
        </ul>
    </div>
    <div class="column is-one-quarter">
      <figure class="image is-128x128">
        <img src="/img/hex-workflowr-tiny.png"
             alt="workflowr hex sticker">
      </figure>
    </div>
  </div>
</footer>
