<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }} | {{ .Site.Title }}</title>
<link rel="icon" href="/img/reproducible.png">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> -->
{{ $sass := resources.Get "sass/main.scss" }}
{{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed" ) }}
{{ $style := $sass | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<link rel="stylesheet" href="/css/fontawesome.min.css">
<link rel="stylesheet" href="/css/brands.min.css">
<link rel="stylesheet" href="/css/solid.min.css">
