
<nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://workflowr.github.io/workflowr/">
        <img alt="workflowr logo" src="/img/workflowr-navbar-brand-tiny.png">
      </a>
    </div>

    <div class="navbar-menu is-active">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a class="navbar-item" href="/projects/">
          Projects
        </a>

        <a class="navbar-item" href="/publications/">
          Publications
        </a>

        <a class="navbar-item" href="/docs/">
          Documentation
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <form method="get" id="search" action="https://duckduckgo.com/">
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="search" name="q" maxlength="255" placeholder="Search site with DuckDuckGo">
                <input type="hidden" name="sites" value="workflowr.io"/>
              </div>
              <div class="control">
                <button type="submit" class="button is-info">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
