
{{ define "hero" }}
{{- partial "hero.html" . -}}
{{ end }}

{{ define "main" }}
  <div class="content">
  <p><strong>DOI:</strong>
    <a href="http://dx.doi.org/{{ .Params.doi }}" target="_blank">
      {{ .Params.doi }}
      <span class="icon">
        <i class="fas fa-external-link-alt"></i>
      </span>
    </a>
  </p>
  <p><strong>Publication date:</strong>
    {{ .Params.year }}-{{ printf "%02d" .Params.month }}-{{ .Params.day }}
  </p>
  <p class="is-size-4 has-background-grey-lighter p-4">
    {{ .Params.citation | markdownify }}
  </p>
</div>
  <h2 class="title is-2">Associated projects</h2>
  {{ range (.Paginate .Data.Pages).Pages }}
    {{ .Render "summary" }}
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
